.container {
  width: 346px;
  height: 166px;
  background-color: #f0f3fa;
  border-radius: 6px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  margin-bottom: 32px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container:hover {
  background-color: #e1e3f0;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.icon {
  width: 28px;
  height: 28px;
}

.title {
  color: #656876;
}

.number {
  font-size: 32px;
  font-weight: 600;
}

.trend {
  display: flex;
  align-items: center;
}

.green {
  color: #68bcaa;
}

.red {
  color: #c54755;
}

.arrow {
  width: 8px;
  height: 4px;
}

.darkContainer {
  background-color: #252b43;
}

.darkContainer:hover {
  background-color: #333a56;
}

.darkTitle {
  color: #b6b9ca;
}

.darkNumber {
  color: #fff;
}

@media (max-width: 1400px) {
  .container {
    width: 310px;
  }

  .title {
    font-size: 16px;
  }
}
