.container {
  width: 346px;
  height: 290px;
  background-color: #f0f3fa;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container:hover {
  background-color: #e1e3f0;
}

.facebookBorder {
  border-top: 5px solid #198ef7;
}

.twitterBorder {
  border-top: 5px solid #299ee3;
}

.instagramBorder {
  border-top: 5px solid transparent;
  border-image: linear-gradient(to right, #ffbf69, #e14b95);
  border-image-slice: 1;
}

.youtubeBorder {
  border-top: 5px solid #c20028;
}

.section {
  display: flex;
  align-items: center;
}

.icon {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.name {
  color: #656876;
  font-size: 20px;
  font-weight: 600;
}

.number {
  font-size: 72px;
  font-weight: 800;
  margin-top: 16px;
}

.stats {
  color: #656876;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 16px;
}

.state {
  font-weight: 800;
}

.row {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.green {
  color: #68bcaa;
}

.red {
  color: #c54755;
}

.arrow {
  width: 8px;
  height: 4px;
}

.darkContainer {
  background-color: #252b43;
}

.darkContainer:hover {
  background-color: #333a56;
}

.darkName,
.darkStats {
  color: #b6b9ca;
}

.darkNumber {
  color: #fff;
}

@media (max-width: 1400px) {
  .container {
    width: 310px;
    height: 260px;
    margin-bottom: 32px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .name {
    font-size: 16px;
  }

  .number {
    font-size: 64px;
    font-weight: 600;
    margin-top: 8px;
  }

  .stats {
    font-size: 14px;
    margin-bottom: 8px;
  }
}
